#start {
  display:none;
}

#city {
  display: none;
}

#interest {
  display: none;
}

#workEnviro {
  display: none;
}

#corpSeattle {
  display: none;
}

#corpSanFran {
  display: none;
}

#next2 {
  display: none;
}

#next3 {
  display: none;
}

#next4 {
  display: none;
}
